
<h1>Yatzy</h1>


<button type="button">@Html.ActionLink("Play", "Index", "Game")</button><br />
<button type="button">@Html.ActionLink("Highscore", "Index", "Highscore")</button><br />
<button type="button" onclick="self.close();">Quit</button><br />