@{
    ViewBag.Title = "Home Page";
}

<h1>Yatzy</h1>


<button type="button" class="btn btn-outline-primary btn-lg">Play</button><br />
<button type="button" class="btn btn-outline-primary btn-lg">Highscore</button><br />
<button type="button" class="btn btn-outline-primary btn-lg">Quit</button><br />