
<h2>Game</h2>

<div class="gameBlockLeft">
    <div>
        <table border="1">
            <tr>
                <th></th>
                <th></th>
                <th>Player 1</th>
                <th>Player 2</th>
            </tr>
            <tr>
                <th>Aces</th>
                <th><img src="../../img/dice-1-md.png" style="width: 50px;"/></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Twos</th>
                <th><img src="../../img/dice-2-md.png" style="width: 50px;" /></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Threes</th>
                <th><img src="../../img/dice-3-md.png" style="width: 50px;" /></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Fours</th>
                <th><img src="../../img/dice-4-md.png" style="width: 50px;" /></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Fives</th>
                <th><img src="../../img/dice-5-md.png" style="width: 50px;" /></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Sixes</th>
                <th><img src="../../img/dice-6-md.png" style="width: 50px;" /></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
    <div>
        Its your turn, Player! <br/>
        <button type="button">Roll</button>
        <button type="button">Play</button>
    </div>
</div>

<div class="gameBlockRight">
    <div>
        <table border="1">
            <tr>
                <th></th>
                <th>Player 1</th>
                <th>Player 2</th>
            </tr>
            <tr style="height: 50px">
                <th>Three of a kind</th>
                <th></th>
                <th></th>
            </tr>
            <tr style="height: 50px">
                <th>Four of a kind</th>
                <th></th>
                <th></th>
            </tr>
            <tr style="height: 50px">
                <th>Full house</th>
                <th></th>
                <th></th>
            </tr>
            <tr style="height: 50px">
                <th>Small Straight</th>
                <th></th>
                <th></th>
            </tr>
            <tr style="height: 50px">
                <th>Large Straight</th>
                <th></th>
                <th></th>
            </tr>
            <tr style="height: 50px">
                <th>Yahtzee</th>
                <th></th>
                <th></th>
            </tr>
            <tr style="height: 50px">
                <th>Chance</th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
    <div>
        <h3>Total Score</h3> <br />
        Player 1 <br/>
        Player 2
    </div>
</div>